# ------------------------------------------------------------------------------
#  File Navigation
# ------------------------------------------------------------------------------

# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# List files pretty format and colors
alias ls='ls -FGH'
alias la='ls -AG'
alias ll='ls -AlGh'
alias history='fc -l 1'

# Shortcuts
alias sites="cd ~/Sites"

# ------------------------------------------------------------------------------
#  Miscellaneous
# ------------------------------------------------------------------------------

# Preview Files
alias cat='bat'

# Make aliases sudo-able
alias sudo="sudo "

# Super user
alias _="sudo"
alias please="sudo"
alias fucking="sudo"
alias fuck="sudo $(fc -ln -1)"


# https://github.com/chubin/wttr.in
#               Overcast
#      .--.     20 – 21 °C
#   .-(    ).   ← 12 km/h
#  (___.__)__)  10 km
#               0.1 mm
alias weather="curl -4 http://wttr.in/Mexico_City"


# disk space
alias space="df -h /dev/sda8 --output=source,fstype,size,used,avail,pcent"

