[user]
	name = ArmCM
	email = armcm@gmail.com
[github]
	user = ArmCM
[color]
	branch = auto
[alias]
    append = commit --amend --no-edit
    filelog = log --graph --decorate --stat --pretty=short --abbrev-commit
